doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/reset.css')        
        title Document
    body 
        #container(style='width:100%; border : 1px solid #000;')
            div
                h2(class='main',id='title',style="text-align:center;") title

            mixin list             
                ul(class='list')
                    li(class="item") item1
                    li(class="item") item2
                ul(class='list')
            hr
            form(id='form',name='form')
                input(type='text',id="name",name='name',style="border:1px solid #000;")
                input(id='submit',type='button',value='submit',style="border:1px solid #000;")

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    script(src='/javascripts/utils.axios.js')